main { font-size: 0.85rem; }
#productInputMain { width: 100%; }
p { margin: 0; padding: 0; }
table tbody { font-size: 0.8rem; }
table tbody tr th, table tbody tr td { padding: 0.25rem 0.4rem; }
table tbody tr th { background-color: aliceblue; }
table tbody tr td label { font-size: 0.6rem; font-weight: bold; }

/* list 아닌 table */
.edit-container table tbody { font-size: 0.9rem; }
.edit-container table tbody tr th, .edit-container table tbody tr td { padding: 0.5rem 0.8rem; }
/* list 아닌 table */

form fieldset.show-legend { position: relative; padding-top: 0.8rem; margin-top: 1.2rem !important; }
form fieldset.show-legend legend { position: absolute; top: -1rem; left: 0.8rem; background-color: white; font-size: 1rem; width: fit-content; padding: 0 0.5rem; }

.brand_name { text-transform: uppercase; }

/* .single-product-regist-edit-container { width: 50%; } */